#message-container {
    overflow: auto;
    border: solid 1px rgb(182, 176, 176);
    height: 300px;
    border-radius: 8px;
}

.badge {
    margin-top: 5px;
}

.time {
    font-size: 10px;
}

.btn {
    margin-top: 5px;
}

.form {
    margin-top: 5px;
}

#own {
    float: right;
    background-color: green;
}