<div class="jumbotron text-center">
  <h1>MEAN Stack Project</h1>
  <p class="lead">Welcome to my chat service!</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Backend done by using Express and Mongoose</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-Cli</h3>
    <p>Frontend done by using Angular</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>JWT Tokens are used to authenticate the user when visiting different parts of the page</p>
  </div>
</div>

<div class="jumbotron text-center">
    <h2>Send Messages</h2>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-6">
          <h3>Public Dashboard</h3>
          <h4>Send messages to the public dashboard where everyone can see them.</h4>
      </div>
      <div class="col-md-6">
        <h3>Private Messages</h3>
        <h4>Send private messages to other users.</h4>
    </div>
    </div>
    
</div>




